.table{
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 400px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

th{
    text-align: center;
}

td{
    text-align: center;
}

.display-img{
    height: 100px;
    width: 180px;
}